<!DOCTYPE html>
<html>
    <head>
        <title>Create / View Administrative Users</title>
            

    
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href='css/main.css' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    </head>
        <style>
 
    </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <html>
<head>
<title>Admin Registration</title>

</head>
<body>


<hr/>
<form id="msform" action="../mod/password.php" method="post">
    	<fieldset>
    <div id="main">
		<h2 class="fs-title">Create your Admin Account</h2>
<div id="login">
		
<h3 class="fs-subtitle">Name</h3>
<input type="text" name="stu_name" id="name" required="required" placeholder="Please Enter Name"/><br /><br />
<h3 class="fs-subtitle">Email</h3>
<input type="email" name="stu_email" id="email" required="required" placeholder="john123@gmail.com"/><br/><br />
<h3 class="fs-subtitle">Password</h3>
<input type="password" name="stu_password" id="city" required="required" placeholder="Please Enter Password"/><br/><br />
<input type="submit" value="Submit" class="submit action-button" name="submit"/><br />
</form>
        </fieldset>
</div>
<!-- Right side div -->


</div>
    </body>
   
</html>